/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  border-radius: 0;
  max-width: 100%;

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

// Custom
.input {
  background-color: #f2f2f2;
  border: 1px solid #dbdbdb;
  font-family: "Franchise Bold";

  display: inline-block;
  margin: 0px 0px 7.5px 0px;
  padding: 0px 0px 0px 16.5px;
  text-transform: uppercase;
  font-size: 15px;
  height: 37.5px;
  width: 100%
}

.select {
  width: 193px; 
  margin: 0px auto 5px auto; 
  height: 40px; 
  background-color: #fafafa; 
  padding: 1px;
}

.select option {
  padding: 5px;
}

// Removes arrows in input[type='number']
/* For Firefox */
input[type='number'].qty {
    -moz-appearance:textfield;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 50px;
}
/* Webkit browsers like Safari and Chrome */
input[type=number].qty::-webkit-inner-spin-button,
input[type=number].qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}
