/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-header;
  font-weight: $font-weight-header;
  //font-size: 1.2em !important;
}

.h-100 {
  height: 100%;
}

.v-center {
  position: relative;
  top: 50%;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
