/*================ Links & Buttons ================*/

.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
}

.button__btn {
  color: #fff;
  width: 193px;
  height: 38px;
  border: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #000;
}

a.button__btn {
  padding: 10px 0px 10px 0px !important;
}

.button__btn--primary {
  background-color: $color-primary;
}

.button__btn--secondary {
  background-color: $color-secondary;
}

@include media-query('small') {
  .button__btn {
    min-width: 100px;
  }
}
