<div class="grid" style="background-image: url('{{ section.settings.background | img_url: '1997x807' }}'); background-size: cover; background-repeat: no-repeat; height: 100%">
<div class="grid__item one-whole text-center">
<img width="506" height="157" src="{{ section.settings.centerpiece | img_url: '674x218' }}" alt="Brand Ambassador Quote">
<a class="btn button__btn button__btn--primary" href="{{ pages.brandambassadors.url }}">become an ambassador</a>
</div>
</div>
{% schema %}
  {
    "name": "Brand Ambassador",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        },
        {
            "type": "image_picker",
            "id": "centerpiece",
            "label": "Centerpiece"
        } 
    ]
  }
{% endschema %}