<div class="grid">
<div class="grid__item one-whole text-center">
<img width="506" height="157" src="http://via.placeholder.com/506x157" alt="Brand Ambassador Quote">
<a class="btn button__btn button__btn--primary" href="{{ pages.brandambassadors.url }}">become an ambassador</a>
</div>
</div>
{% schema %}
  {
    "name": "Brand Ambassador"
  }
{% endschema %}