<div class="grid wallpaper" style="background-image: url('{{ section.settings.background | img_url: 'master' }}');">
  <div class="grid__item one-whole text-center">
    <img width="506" height="157" src="{{ section.settings.centerpiece | img_url: 'master' }}" 
    srcset="{{ section.settings.centerpiece | img_url: 'master' }} 1x, {{ section.settings.centerpiece | img_url: 'master', scale: 2 }} 2x" 
    alt="Brand Ambassador Quote">
    <div style="max-width: 418px; margin: auto">
    <a class="btn button__btn button__btn--primary" href="/pages/coming-soon">become an ambassador</a>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "Brand Ambassador",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        },
        {
            "type": "image_picker",
            "id": "centerpiece",
            "label": "Centerpiece"
        } 
    ]
  }
{% endschema %}