<div class="grid">
<div class="grid__item one-whole text-center">
<img width="506" height="157" src="http://via.placeholder.com/506x157" alt="Brand Ambassador Quote">
<button class="button__btn button__btn--primary">become a brand ambassador</button>
</div>
</div>
{% schema %}
  {
    "name": "Brand Ambassador"
  }
{% endschema %}