<div class="page-width grid h-100">
<div class="grid__item one-whole text-center h-100">
  <div class="grid">
    <div class="grid__item one-whole">
      <img src="http://via.placeholder.com/510x292" width="510" height="292" alt="Guarentee" style="margin-top: 78.75px">
    </div>

    <div style="padding: 0px 30px 0px 30px">
    <div class="grid__item one-third">
      <div class="section-featured-collection--item">
        <img src="http://via.placeholder.com/300x382" width="300" height="382" alt="Category 1">
        <span>Jerky</span>
      </div>
    </div>

    <div class="grid__item one-third">
      <div class="section-featured-collection--item">
        <img src="http://via.placeholder.com/109x382" width="109" height="382" alt="Category 2">
        <span>Sticks</span>
      </div>
    </div>

    <div class="grid__item one-third">
      <div class="section-featured-collection--item">
        <img src="http://via.placeholder.com/289x382" width="289" height="382" alt="Category 3">
        <span>Protein Pals</span>
      </div>
    </div>
    </div>

    <div class="grid__item one-whole text-right" style="margin-top: 63.75px">
      <button class="button__btn button__btn--primary">Shop All</button>
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ]
  }

{% endschema %}
