<div class="page-width grid">
<div class="grid__item one-whole text-center">
  <div class="grid">
    <div class="grid__item one-third">
      Category
    </div>
    <div class="grid__item one-third">
      Category
    </div>
    <div class="grid__item one-third">
      Category
    </div>
  </div>
<button class="button__btn button__btn--primary">Shop All</button>
</div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ]
  }

{% endschema %}
