<div class="grid">
  <div class="grid__item one-whole text-center">
    <div class="hero__container">
      <div class="owl-carousel">
        <div>
          <picture>
            <source media="(max-width: 989px)" srcset="{{ section.settings.product-image | img_url: 'master' }}">
            <source media="(min-width: 990px)" srcset="{{ section.settings.hero-image | img_url: 'master' }}">
            <img src="{{ section.settings.hero-image | img_url: 'master' }}" 
                 alt="{{ section.settings.hero-image.alt }}" 
                 style="height: 800px; width: 100%">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Slideshow",
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Hero",
        "type": "image"
      }],
    "settings": [
      {
        "type": "image_picker",
        "id": "hero-image",
        "label": "Hero Image"
      },
      {
        "type": "image_picker",
        "id": "product-image",
        "label": "Product Image"
      }
    ]
  }
{% endschema %}