<div class="grid">
  <div class="grid__item one-whole text-center">
    <div class="hero__container">
      <div class="owl-carousel">
        {%- for block in section.blocks -%}
          <div>

            <!-- Bed for product image -->
            <img src="{{ block.settings.product-bed | img_url: 'master' }}" 
                 alt="{{ block.settings.product-bed.alt }}" 
                 style="height: 800px; width: 100%">

            <!-- Product Image-->
            <div style="position: absolute; left: 51%; top: 100px;">
              <img src="{{ block.settings.product-image | img_url: 'master' }}" style="width: 591px; height: 672px">
            </div>

          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Slideshow",
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Hero",
        "type": "hero_slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "product-bed",
            "label": "Product Bed"
          },
          {
            "type": "image_picker",
            "id": "product-image",
            "label": "Product Image"
          }
        ]
      }
    ]
  }
{% endschema %}