<div class="grid">
<div class="grid__item one-whole text-center">
  <span>I'm the homepage hero section!</span>
</div>
</div>

{% schema %}
  {
    "name": "Hero Slideshow",
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Hero",
        "type": "image"
      }],
    "settings": [
      {
        "type": "image"
    }]
  }
{% endschema %}