<div class="grid">
  <div class="grid__item one-whole text-center">
    <div class="hero__container">
      <div class="owl-carousel owl-theme" id="hero">
        {%- for block in section.blocks -%}
          <div class="hero-product-bed-container">
            <!-- Bed for product image -->
            <img src="{{ block.settings.product-bed | img_url: 'master' }}" 
                 alt="{{ block.settings.product-bed.alt }}" class="hero-product-bed">

            <!-- Product Image-->
            <div class="hero-product-image-container">
              <img src="{{ block.settings.product-image | img_url: 'master' }}">
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Slideshow",
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Hero",
        "type": "hero_slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "product-bed",
            "label": "Product Bed"
          },
          {
            "type": "image_picker",
            "id": "product-image",
            "label": "Product Image"
          }
        ]
      }
    ]
  }
{% endschema %}