<style>
  .hero__container {
    width: 100%;
    height: 500px;
  }

  img.hero__image--background {
    position: relative;
    top: 50%;
    margin: -125px auto 50px 0px;
  }
</style>

<div class="grid">
<div class="grid__item one-whole text-center">
  <!-- Slides go here -->
  <div class="hero__container">
    <img src="{{ section.settings.hero-image | img_url: '444x250' }}" class="hero__image--background">
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Hero Slideshow",
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Hero",
        "type": "image"
      }],
    "settings": [
      {
        "type": "image_picker",
        "id": "hero-image",
        "label": "Hero Image"
    }]
  }
{% endschema %}