<div class="grid">
  <div class="grid__item">
    Category
  </div>
  <div class="grid__item">
    Category
  </div>
  <div class="grid__item">
    Category
  </div>
  <button>Shop All</button>
</div>

{% schema %}
  {
    "name": "Product Showcase"
  }
{% endschema %}