<div class="grid page-width">
  <div class="grid__item two-thirds text-right">
  <span>buy perky jerky at a location near you and get 20% off.</span>
  </div>
  <div class="grid__item one-third">
  <button class="button__btn button__btn--primary">find a store</button>
  </div>
</div>

{% schema %}
  {
    "name": "Incentive With CTA"
  }
{% endschema %}