<!-- TODO: FIX CENTERING ISSUES -->
<div class="grid page-width">

  <div class="grid__item one-tenth medium-up--one-tenth">
    <!-- Discount Banner -->
    <div class="discount-banner">
      <div class="discount-banner-image">
        <img src="{{ 'get-percent-off-banner.png' | asset_img_url: 'master' }}" width="101" height="123" alt="Discount Banner">
      </div>
      <div class="discount-banner-text">
        <div style="padding-top: 8px">
          <span>Get</span>
          <span style="font-size: 60px; font-family: 'Franchise Bold'; line-height: 60px; font-weight: 700">{{ section.settings.discount-amt }}</span>
          <span style="margin-top: -10px">Off</span>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__item medium-up--seven-tenths">
    <!-- CTA Copy -->
    <div class="medium-up--show text-center" style="padding: 33px; display: none">
      <span style="font-family: 'Franchise Bold'; font-size: 31.25px">Buy Perky Jerky At A Location Near You And Get {{ section.settings.discount-amt}} Off.</span>
    </div>

  </div>

    <div class="medium-up--hide text-right" style="position: absolute; left: 37%; margin-top: 35px">
      <a href="/collections/all" style="color: #fff"><span style="font-family: 'Franchise Bold'; font-size: 31.25px">Your First Order 
         >
      </span>
    </a>

    </div>

  <div class="grid__item nine-tenths medium-up--two-tenths text-center medium-up--text-right">
    <!-- CTA Button -->
    <a class="btn button__btn button__btn--primary small--hide" href="/pages/coming-soon" style="margin-top: 29px">
      {{ section.settings.button-label }}
    </a>
  </div>

</div>

{% schema %}
  {
    "name": "Call-to-Action incentive",
    "settings": [
      {
        "type": "text",
        "label": "Button Label",
        "id": "button-label"
      },
      {
        "type": "text",
        "label": "Discount Amount",
        "id": "discount-amt"
      }
    ]
  }
{% endschema %}