<div class="grid page-width h-100">

  <div class="grid__item two-thirds h-100">
  <div>
  <!-- Banner here -->
  </div>
  <div class="text-right h-100">
  <div class="v-center" style="margin-top: -9px">
    <span style="font-size: 19px;">{{ section.settings.copy}}</span>
  </div>
  </div>
  </div>

  <div class="grid__item one-third text-right h-100">
  <div class="v-center" style="margin-top: -19px">
    <button class="button__btn button__btn--primary">{{ section.settings.button-label }}</button>
  </div>
  </div>

</div>

{% schema %}
  {
    "name": "Call-to-Action incentive",
    "settings": [
      { 
        "type": "text",
        "label": "Text",
        "id": "copy"
      },
      {
        "type": "text",
        "label": "Button Label",
        "id": "button-label"
      }
    ]
  }
{% endschema %}