  <div class="grid page-width">
    <div class="grid__item medium-up--one-half">
      <span class="icon icon-envelope"></span>
      <h2>Perks &amp; Jerkys</h2>
      <h3>Our newsletter is full of Perks and Jerks:</h3>
      <p>Information on events, special offers, and the latest on Jerk Man. <br>
      Sign up, and stay in the loop with the rest of us jerks.
      </p>
    </div>

    <div class="grid__item medium-up--one-half text-right">
      <div id="newsletter-sign-up-inputs">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <input type="text" name="zipcode" placeholder="Zip Code">
        <input type="email" name="email" placeholder="Email Address">
      </div>
      <button class="button__btn button__btn--primary">Subscribe</button>
    </div>
  </div>

  {% schema %}
  {
    "name": "Newsletter Sign Up"
  }
{% endschema %}