  <div class="grid page-width">
    <div class="grid__item one-half">
      Newsletter Copy
    </div>

    <div class="grid__item one-half">
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Zip Code">
      <input type="text" placeholder="Email Address">
      <button class="button__btn button__btn--primary">Subscribe</button>
    </div>
  </div>

  {% schema %}
  {
    "name": "Newsletter Sign Up"
  }
{% endschema %}