<div class="grid page-width">
    <!-- Left Side -->
    <div class="grid__item one-whole medium-up--one-half">
      <div id="newsletter-sign-up-copy">
      <img src="{{ 'newsletter-email-icon.png' | asset_img_url: 'master' }}" alt="Envelope Icon" width="43" height="33"> 
      <h2>Perks &amp; Jerks</h2>
      <h3>Our newsletter is full of Perks &amp; Jerks:</h3>
      <p>Information on events, special offers, and the latest on Jerk Man. <br>
      Sign up, and stay in the loop with the rest of us jerks.
      </p>
      </div>
    </div>
    <!-- Right Side -->
    <div class="grid__item one-whole medium-up--one-half medium-up--text-right">
      <div id="newsletter-sign-up-inputs">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <input type="text" name="zipcode" placeholder="Zip Code">
        <input type="email" name="email" placeholder="Email Address">
      </div>
      <button class="button__btn button__btn--primary" onclick="this.innerHTML='Getting perky...'">Subscribe</button>
    </div>
</div>

  {% schema %}
  {
    "name": "Newsletter Sign Up",
    "settings": [
    {
      "id": "api_key",
      "label": "API Key",
      "type": "text"
    },
    {
      "id": "listId",
      "label": "List ID",
      "type": "text"
    }
    ]
  }
{% endschema %}