<div class="grid page-width">
  <div class="grid__item one-half">
    Background Image
  </div>
  
  <div class="grid__item one-half">

    <table>
      <!-- header row -->
      <tr>
        <td>nutrition facts</td><td>beef</td><td>turkey</td><td>pork</td>
      </tr>
      <!-- total fat row -->
      <tr>
        <td>total fat (g)</td><td>8</td><td>8</td><td>8</td>
      </tr>
      <!-- saturated fat row -->
      <tr>
        <td>saturated fat (g)</td><td>6</td><td>6</td><td>6</td>
      </tr>
      <!-- cholesterol row -->
      <tr>
        <td>cholesterol (mg)</td><td>55</td><td>55</td><td>55</td>
      </tr>
      <!-- sodium row -->
      <tr>
        <td>sodium (mg)</td><td>4</td><td>4</td><td>4</td>
      </tr>
      <!-- carbohydrates -->
      <tr>
        <td>carbohydrates (g)</td><td>44</td><td>44</td><td>44</td>
      </tr>
      <!-- protein row -->
      <tr>
        <td>protein (g)</td><td>6</td><td>6</td><td>6</td>
      </tr>
    </table>

    <button class="button__btn button__btn--primary right">Shop Jerky</button>

  </div>
</div>

{% schema %}
  {
    "name": "Nutrition Facts"
  }
{% endschema %}