<!-- 
    TODO: 
    REFACTOR AND REMOVE INLINE STYLE/SCRIPTS
    MODAL ANIMATIONS

 -->
<div class="grid page-width">

  <div class="grid__item medium-up--one-half one-whole">
    <div class="image-container">
      <img src="{{ section.settings.featured_image | img_url: 'master' }}" alt="Dare to be Tender"
      class="interactive-image">
    </div>
  </div>
  
  <div class="grid__item medium-up--one-half small--hide">
    <div style="position: relative; height: 603px;">
    <div class="table-container">
      <!-- Legal Modal -->
      <div id="nutrition-legal-modal">
        <div class="modal-container">
          <span class="modal-close-icon" onclick="document.getElementById('nutrition-legal-modal').style.display = 'none';">{% include 'icon-close' %}</span>
          <strong>Nutrition Facts Apply To Jerky Original Only.</strong>
          <div class="modal-copy-container">
            <p>
              Occaecat ad occaecat non in ullamco ut sint dolor adipisicing pariatur adipisicing nisi cupidatat ut amet fugiat excepteur dolor proident ullamco fugiat cillum sit deserunt irure nulla dolore in dolor cillum exercitation laborum ullamco magna dolor reprehenderit magna do.
            </p>
            <p>
              Fugiat esse sint magna ex dolor enim mollit nulla incididunt labore pariatur mollit proident id cupidatat et nisi ad amet quis culpa elit do magna pariatur do proident adipisicing exercitation laborum ullamco in tempor in non nisi ut mollit dolor ut ut exercitation deserunt in nulla sint do nostrud esse dolore id cillum in commodo ex ut labore proident consequat tempor id nulla aliquip nisi deserunt incididunt nostrud in fugiat id consectetur minim incididunt eiusmod pariatur tempor do esse consectetur aute eu sint amet ullamco cillum deserunt ex fugiat eu sint laboris proident consectetur id laboris amet ex in velit et quis velit irure labore in ut ut excepteur sunt id ea aliquip dolor minim aliqua sit id commodo eiusmod ut anim ut minim consequat culpa cillum sed ut exercitation do deserunt cupidatat adipisicing elit non dolor aliqua minim dolor sit ut nisi sit dolor sunt sint laboris ad exercitation proident aute consectetur officia fugiat.
            </p>
            <p>
              Officia excepteur dolore sed cillum incididunt non in dolore tempor enim tempor sit non sint cupidatat eiusmod ut irure reprehenderit irure adipisicing in culpa pariatur eiusmod non nostrud nisi commodo.
            </p>
          </div>
        </div>
      </div>

      <table>
        <!-- Header Row -->
        <tr> 
          <!-- Columns -->
          <td>          
            <span class="fa fa-info-circle" style="cursor: pointer; display: block;" onclick="document.getElementById('nutrition-legal-modal').style.display = 'block';"></span>
            <span style="position: absolute; z-index: -1;">nutrition facts</span>
          </td>
          {% for block in section.blocks %}
            <td>
              <img src="{{block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" width="66" height="45">
              {{ block.settings.name }}
            </td>
          {% endfor %}
        </tr>
        <!-- total fat row -->
        <tr>
          <td>total fat (g)</td><td>8</td><td>8</td><td>8</td>
        </tr>
        <!-- saturated fat row -->
        <tr>
          <td>saturated fat (g)</td><td>6</td><td>6</td><td>6</td>
        </tr>
        <!-- cholesterol row -->
        <tr>
          <td>cholesterol (mg)</td><td>55</td><td>55</td><td>55</td>
        </tr>
        <!-- sodium row -->
        <tr>
          <td>sodium (mg)</td><td>4</td><td>4</td><td>4</td>
        </tr>
        <!-- carbohydrates -->
        <tr>
          <td>carbohydrates (g)</td><td>44</td><td>44</td><td>44</td>
        </tr>
        <!-- protein row -->
        <tr>
          <td>protein (g)</td><td>6</td><td>6</td><td>6</td>
        </tr>
      </table>
    </div>
  </div>

  <a style="margin-top: -130px; position: relative" class="btn button__btn button__btn--primary" href="/collections/collection-1">Shop Jerky</a>
  </div>
</div>

<script>

</script>

{% schema %}
  {
    "name": "Nutrition Facts",
    "settings": [
      {
        "type": "image_picker",
        "label": "Featured Image",
        "id": "featured_image"
      }
    ],

    "max_blocks": 3,
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "id": "icon",
            "label": "Icon",
            "type": "image_picker"
          },
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "total-fat",
            "type": "text",
            "label": "Total Fat (g)"
          },
          {
            "id": "saturated-fat",
            "type": "text",
            "label": "Saturated Fat (g)"
          },
          {
            "id": "cholesterol",
            "type": "text",
            "label": "Cholesterol (mg)"
          },
          {
            "id": "sodium",
            "type": "text",
            "label": "Sodium (mg)"
          },
          {
            "id": "carbs",
            "type": "text",
            "label": "Carbohydrates (g)"
          },
          {
            "id": "protein",
            "type": "text",
            "label": "Protein (g)"
          }
        ]
      }
    ]
  }
{% endschema %}