<!-- TODO: FIX INLINE SECTIONS -->
<div class="grid page-width">
  <div class="grid__item medium-up--one-half">

    <div style="margin-top: 210px">
      <h1>TENDER</h1>
    </div>

  </div>
  
  <div class="grid__item medium-up--one-half">
    <div style="overflow: scroll; width: 508.5px; height: 100%; padding-bottom: 37.5px; float: right; margin-top: 112.5px;">
    <table class="responsive-table" id="nutrition-facts">
      <!-- header row -->
      <tr> 
        <i class="fa fa-info-circle" style="cursor: pointer"></i>
        <!-- Columns -->
        <td>nutrition facts</td>
        {% for block in section.blocks %}
          <td>
            <img src="{{block.settings.icon | img_url: '83x67' }}" alt="{{block.settings.image.alt}}">
            {{ block.settings.name }}
          </td>
        {% endfor %}
      </tr>
      <!-- total fat row -->
      <tr>
        <td>total fat (g)</td><td>8</td><td>8</td><td>8</td>
      </tr>
      <!-- saturated fat row -->
      <tr>
        <td>saturated fat (g)</td><td>6</td><td>6</td><td>6</td>
      </tr>
      <!-- cholesterol row -->
      <tr>
        <td>cholesterol (mg)</td><td>55</td><td>55</td><td>55</td>
      </tr>
      <!-- sodium row -->
      <tr>
        <td>sodium (mg)</td><td>4</td><td>4</td><td>4</td>
      </tr>
      <!-- carbohydrates -->
      <tr>
        <td>carbohydrates (g)</td><td>44</td><td>44</td><td>44</td>
      </tr>
      <!-- protein row -->
      <tr>
        <td>protein (g)</td><td>6</td><td>6</td><td>6</td>
      </tr>
    </table>
    </div>

    <button class="button__btn button__btn--primary right">Shop Jerky</button>

  </div>
</div>

{% schema %}
  {
    "name": "Nutrition Facts",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "id": "icon",
            "label": "Icon",
            "type": "image_picker"
          },
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "total-fat",
            "type": "text",
            "label": "Total Fat (g)"
          },
          {
            "id": "saturated-fat",
            "type": "text",
            "label": "Saturated Fat (g)"
          },
          {
            "id": "cholesterol",
            "type": "text",
            "label": "Cholesterol (mg)"
          },
          {
            "id": "sodium",
            "type": "text",
            "label": "Sodium (mg)"
          },
          {
            "id": "carbs",
            "type": "text",
            "label": "Carbohydrates (g)"
          },
          {
            "id": "protein",
            "type": "text",
            "label": "Protein (g)"
          }
        ]
      }
    ]
  }
{% endschema %}