<div class="grid page-width">
  <div class="grid__item one-half">
    <!-- Brand Logo -->
    <!-- Pick -n- Pack Banner Image -->
    <big>can't decide?</big>
    <span>try 'em all in one box.
  </div>
  <div class="grid__item one-half">
    <ol>
    <li>how many</li>
    <li>what flavors</li>
    <li>delivery date</li>
    <li>pack it!</li>
    </ol>
    <button class="button__btn button__btn--secondary">Start Packing</button>
  </div>
</div>

{% schema %}
  {
    "name": "Pick 'n Pack"
  }
{% endschema %}