<div class="grid page-width">

  <!-- Left Side -->
  <div class="grid__item small--one-whole one-half">
    <div id="pick-and-pack-left">
    <!-- Brand Logo -->
      <img src="http://via.placeholder.com/124x38" width="124" height="38" alt="Logo" style="margin-bottom: 20px">
    <!-- Pick -n- Pack Banner Image -->
      <img src="http://via.placeholder.com/358x124" width="358" height="124" alt="Pick and Pack Banner">
      <span style="font-size: 45px; display: block; margin-top: 40px;">can't decide?</span>
      <span style="font-size: 21px;">try 'em all in one box.</span>
    </div>
  </div>

  <!-- Center Piece -->
  <!--<div id="pick-and-pack-centerpiece">
    <div>
    <img src="http://via.placeholder.com/1000x1000">
    </div>
  </div>-->

  <!-- Right Side -->
  <div class="grid__item small--hide one-half">
    <div id="pick-and-pack-right">
      <ol>
        <li>how many</li>
        <li>what flavors</li>
        <li>delivery date</li>
        <li>pack it!</li>
      </ol>
      <button class="button__btn button__btn--secondary">Start Packing</button>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Pick 'n Pack"
  }
{% endschema %}