<div class="page-width text-center" style="height: 480px; margin: auto;"> <!-- PSD HEIGHT IS 505px -->
<h1 style="margin-top: 153.75px;">Get Social With Us</h1>
<div style="padding: 25px">
  <div id="curator-feed-perky"></div>
</div>

<div>
  <!--icons-->
</div>

</div>