<div class="grid">
  <div class="grid__item one-half text-center">
    <h4>what theyre saying about us</h4>
  </div>
  <div class="grid__item one-half text-center">
    <h4>perky jerky retailers</h4>
  </div>
</div>