
<div class="grid page-width">
    <div class="grid__item one-whole text-center">
      homepage social media feed
    </div>
  </div>

  {% schema %}
  {
    "name": "Social Media Feed"
  }
{% endschema %}