<div class="page-width text-center" style="min-height: 480px; margin: auto; padding-bottom: 50px"> <!-- PSD HEIGHT IS 505px -->
<h1 class="homepage small--hide" style="margin: 108px 0 0 0">Get Social With Us</h1>
<h2 class="homepage medium-up--hide" style="margin: 50px 0 0 0">Get Social With Us</h2>
<div style="padding: 25px">
  <div id="curator-feed-perky"></div>
</div>

<div>

  {% comment %}
    Split filter creates an array object
  {% endcomment %}

  {% assign networks = 'facebook twitter instagram youtube-play pinterest envelope-o' | split: ' ' %}

  {% for network in networks %}

    {% comment %}
      TODO: Fix currentLink remaining as string and not an object.
    {% endcomment %}
    
    {% assign currentLink = 'settings.social_network_link' | replace: 'network', network %}

      <a href="#">
        <span class="fa-stack">
          <span class="fa fa-circle fa-stack-2x"></span>
          <span class="fa fa-{{network}} fa-stack-1x fa-inverse"></span>
        </span>
      </a>

  {% endfor %}


</div>
</div>