
<div class="grid page-width">
    <div class="grid__item one-whole text-center">
      <h1>Get Social With Us</h1>
    </div>
  </div>

  {% schema %}
  {
    "name": "Social Media Feed"
  }
{% endschema %}