
<div class="page-width">
{% section 'home-hero' %}
{% include 'incentive-with-cta' %}
{% section 'home-product-showcase' %}
{% section 'home-pick-and-pack' %}
{% section 'home-nutrition-facts' %}
{% section 'home-brand-ambassador' %}
{% include 'social-proof' %}
{% include 'newsletter-sign-up' %}
{% include 'social-media-feed' %}
</div>

{%comment%}
{{ content_for_index }}
{%endcomment%}