/*================ Brand Ambassador ================*/

#shopify-section-brand-ambassador {
  background-color: #9fb48c;
  height: 603px;
}

#shopify-section-brand-ambassador button {
  width: 278px !important;
}

#shopify-section-brand-ambassador img {
  display: block;
  margin: 176.25px auto 37.5px;
}