/*================ Front Page HERO ================*/

#shopify-section-hero {
  background: #DDDDDD;
  background-image: url('hero_background.jpg'); // change this to be more dynamic
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  max-width: 1540px; 
  margin: auto;
 // height: 520px;
}

.frontpage-hero-carousel {
  height: 100%;
  top: 50%;
}


//@include media-query('medium-up') {
  .hero__container {
    height: 820px;
  }
