/*================ Nutrition Facts ================*/

#shopify-section-nutrition-facts {
  background-color: #fff;
  text-transform: uppercase;
  min-height: 611.25px;
  font-size: 15px;
}

#shopify-section-nutrition-facts .table-container {
  max-width: 508.5px; 
  height: 100%; 
  overflow-x: auto;
  //padding-bottom: 37.5px; 
  //float: right; 
  margin-top: 112.5px;

}

#shopify-section-nutrition-facts table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
}

#shopify-section-nutrition-facts td {
  padding: 0px 0px 11.25px 0px;
}

// first column
#shopify-section-nutrition-facts td:first-child {
  //width: 213px;
  width: 35%;
}

#shopify-section-nutrition-facts td:not(:first-child) {
  text-align: center;
}

#shopify-section-nutrition-facts tr:not(:last-child) {
  border-bottom: 3px solid #d2d2d2;
}

#shopify-section-nutrition-facts a {
  float: right;
}
