/*================ Left Side Image ================*/
#shopify-section-nutrition-facts .image-container {
  text-align: center;
  margin: auto;
}

@include media-query('widescreen') {
  #shopify-section-nutrition-facts .image-container {
    margin-left: -200px;
  }
}

/*================ Nutrition Facts ================*/

#shopify-section-nutrition-facts {
  background-color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

#nutrition-legal-modal {
  display: none;
  position: absolute;
}

#nutrition-legal-modal > .modal-container {
  padding: 33.75px 50px 33.75px 33.75px; 
  background-color: rgba(0,0,0,0.85); 
  color: #fff;
}

#nutrition-legal-modal .modal-close-icon {
  position: absolute; 
  cursor: pointer; 
  right: 10px; 
  top: 10px;
}

#nutrition-legal-modal .modal-copy-container {
  font-family: "Trade Gothic Medium";
  overflow-y: scroll; 
  font-size: 12px; 
  line-height: 2; 
  height: 300px
}

#shopify-section-nutrition-facts .table-container {
  max-width: 508.5px; 
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

#shopify-section-nutrition-facts table {
  border-collapse: collapse; // The border of the table doesn't show without this
  font-family: "Franchise Bold";
  font-size: 24px;
}

#shopify-section-nutrition-facts td {
  padding: 4px 0px 4px 0px;
}

/* This is the first column */
#shopify-section-nutrition-facts td:first-child {
  width: 35%;
}

#shopify-section-nutrition-facts td:not(:first-child) {
  text-align: center;
}

#shopify-section-nutrition-facts tr:not(:last-child) {
  border-bottom: 3px solid #d2d2d2;
}

#shopify-section-nutrition-facts a {
  float: right;
}