/*================ Nutrition Facts ================*/

#shopify-section-nutrition-facts {
  background-color: #fff;
  text-transform: uppercase;
  max-height: 611.25px;
  font-size: 15px;
}

#shopify-section-nutrition-facts .table-container {
  //width: 508.5px; 
  height: 100%; 
  padding-bottom: 37.5px; 
  //float: right; 
  margin-top: 112.5px;

}


#shopify-section-nutrition-facts td {
  padding: 0px 0px 11.25px 0px;
}

#shopify-section-nutrition-facts td:first-child {
  width: 213px;
}



#shopify-section-nutrition-facts td:not(:first-child) {
  text-align: center;
  //width: 75px;
}


#shopify-section-nutrition-facts tr:not(:last-child) {
  border-bottom: 3px solid #d2d2d2;
}

#shopify-section-nutrition-facts a {
  float: right;
}
