/*================ Pick and Pack ================*/

#shopify-section-pick-and-pack {
  background-color: #FFA410;
  text-transform: uppercase;
  height: 608px;
}

/*================ Left Side ================*/
#pick-and-pack-left {
  max-width: 400px;
  text-align: center;
  margin: 123.75px auto auto auto;
  z-index: 1;
}

#pick-and-pack-left > img {
  display: block;
  margin: auto;
}

#pick-and-pack-left > span {
  text-align: center;
  margin: auto;
}

@include media-query('widescreen') {
  #pick-and-pack-left {
  margin-left: -100px;
  }
}

/*================ Centerpiece ================*/

#pick-and-pack-centerpiece {
  display: none;
}

// TODO: Reposition instead of hide
@include media-query('medium-up') {
  #pick-and-pack-centerpiece {
    display: inherit;
    position: absolute;
    height: 100%;
    width: 500px;
  }

  #pick-and-pack-centerpiece img {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    z-index: 0;
  }
}

/*================ Right Side ================*/
#pick-and-pack-right {
  margin-top: 150px; 
  padding-left: 200px;
  z-index: 1;
}

#pick-and-pack-right a {
  float: right;
}

#pick-and-pack-right ol {
  float: right;
  margin: 0;
  padding: 0;
}

#pick-and-pack-right > ol > li {
  font-family: "Franchise Bold";
  margin-bottom: 33.75px;
  font-size: 31.25px;
}

@include media-query('medium-down') {
  #pick-and-pack-right {
    display: none;
  }
}