/*================ Showcase Collection ================*/


#shopify-section-showcase-collection {
  background-color: #fff;
  text-transform: uppercase;
  background-image: url('showcase-stage.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.section-showcase-collection--item {
  margin-top: 67.5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 9;
  color: gray;
}

  img.showcase-image {
    width: 300px;
    height: 200px;
  }

@include media-query('medium-up'){
  #shopify-section-showcase-collection {
      height: 1012px;
  }

  img.showcase-image {
    width: 300px;
    height: 382px;
  }

  #shopify-section-showcase-collection .owl-carousel .owl-stage-outer {
    // Fix for clipping of text
    overflow: inherit;
  }

  .section-showcase-collection--item:hover {
    transform: scale(1.10, 1.10);
  }
}
.section-showcase-collection--item:hover > span{
  color: #000;
}

#collection-detail-category-container { 
  text-align: center;
}

#collection-detail-category-container img {
  margin: auto;
  z-index: 3;
}
#collection-detail-flavor-container {
  margin-left: 156.25px;
  border-left: 1px solid #d2d2d2;
}

#showcase-collection-dropdown {
  visibility: hidden;
  z-index: 9;
}

.section-showcase-collection__detail--container {
  position: absolute;
  left: 0;
  margin-top: 30px;
  height: 540px;
  background-color: #fff;
  padding: 75px 0px 48.75px 0px;
  width: 100%;

}

.section-showcase-collection__detail--flavor {
  display: inline-block;
  width: 75%;
  text-align: left;
  height: 75px;
  vertical-align: middle;
  padding: 10px 15px;
}

.section-showcase-collection__detail--flavor:hover {
  background-color: #ab2634;
  cursor: pointer;
  color: #fff !important;
}

.section-showcase-collection__detail--flavor:hover h2 {
    color: #fff !important;
}

.section-showcase-collection--item > img {
  display: block;
  margin: 0px auto 22.5px auto;
}

.section-showcase-collection--item > span {
  font-size: 27.75px;
}