/*================ Site Header ================*/
.site-logo {
  display: inline;
}

/* Theme specific navigation links */
ul.navigation__header--links {
  color: #fff;
  list-style-type: none;
  display: inline;
}

ul.navigation__header--links > li {
  display: inline;
  margin: 0px 55px 0px 0px;
}

ul.navigation__header--links > li > a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.navigation__link {
  color: #000;
  text-decoration: none;
}

/* Arrow */
.navigation__dropdown-content .arrow {
  content: ' '; 
  position: absolute;
  bottom: 90%;
  border-width: 37.5px; 
  border-style: solid; 
  border-color: transparent transparent #fff transparent;
}

/* Navigation: Dropdowns */
.navigation__dropdown {
  display: inline-block;
  margin: 0px 45px 0px 45px;
}

.navigation__dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 9;
  background-color: #fff;
  margin-top: 33.75px;
  box-shadow: 0 0 2.5em darkgray;
}

.navigation__dropdown:hover .navigation__dropdown-content {
  display: block;
}

.navigation__dropdown-1-image {
  display: block;
  margin: 0px auto 15px auto;
}

.navigation__dropdown-1-container {
  padding: 68px 0px 68px 0px;
}

.navigation__dropdown-2-image {
  margin: auto;
  padding: 7.5px 1px 0px 0px;
}

.navigation__dropdown-2-container {
  margin: auto;
  padding: 7.5px;
  max-width: 1500px;
}

/* Navigation: Main Menu */

nav {
  float: right;
}

.navigation__main-menu--slide-out {
  vertical-align: middle;
  overflow-x: hidden;
  width: 0px;
}

#slide-out-navigation-toggle {
  height: 100%;
  float: left;
  z-index: -1; 
  cursor: pointer; 
  vertical-align: middle;
  display: inline-block;
  height: 50px;
}

#slide-out-navigation-toggle > img {
  display: inline-block;
  vertical-align: middle;
}

.navigation__main-menu ul {
  margin: 0;
  padding: 0;
}

.navigation__main-menu ul > li {
  list-style-type: none;
  font-size: 0.70rem;
  font-weight: bolder;
  line-height: 20px;
  text-transform: uppercase;
}