/*================ Social Proof ================*/

#shopify-section-social-proof {
  height: 375px;
}

// Proof Container
.proof-container {
    max-width: 551.25px;
    margin: auto;
}

#shopify-section-social-proof h4 {
  margin: 63.75px 0px 69.75px 0px;
}

/*================ Media Queries ================*/
