/*================ Social Proof ================*/

#shopify-section-social-proof {
  //min-height: 375px;
}

// Proof Container
.proof-container {
    max-width: 551.25px;
    margin: auto;
    padding: 63.75px 0px 69.75px 0px;
}

#shopify-section-social-proof h2 {
  margin: 63.75px 0px 0px 0px;
}

/*================ Media Queries ================*/
