/*================ Social Proof ================*/

#shopify-section-social-proof {
  //min-height: 375px;
}

// Proof Container
.proof-container {
    max-width: 551.25px;
    margin: auto;
    padding: 33.75px 0px 69.75px 0px;
}

.proof-container img {
  padding: 5px 15px;
}

#shopify-section-social-proof h2 {
  margin: 63.75px 0px 0px 0px;
}

/*================ Media Queries ================*/

@include media-query('small') {
  #shopify-section-social-proof h2 {
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  
}